.main-1{
    width:1100px;
    border:2px solid #a1a1a1;
}
.main-in-one{
    width:500px;
    float:left;
    display:inline;
    border:2px solid #a1a1a1;
}
.main-in-two{
    margin-left:200px;
    float:left;
    display:inline;
    border:2px solid #a1a1a1;
}
.n2{
    margin-left: 200px;
}

.edge {
    padding: 0;
    /* 上右下左 */
    margin: 10px 0 10px 0;
}
span {
    color: black;
    font-size: 18px;
}

.nav-my {
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    /*color: #fff;*/
    background-color: lightblue;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: lightblue;
}
