.main-1{
    width:1100px;
    border:2px solid #a1a1a1;
}
.main-in-one{
    width:500px;
    float:left;
    display:inline;
    border:2px solid #a1a1a1;
}
.main-in-two{
    margin-left:200px;
    float:left;
    display:inline;
    border:2px solid #a1a1a1;
}
.n2{
    margin-left: 200px;
}
