<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>西安明徳軟件有限公司 -- www.emdes.com.cn</title>
    <!-- 最新的 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/company.css" rel="stylesheet">
    <!--页面滚动效果-->
    <script src="../js/flowup.js"></script>
    <script src="../js/Random.js"></script>
</head>
<body>
<!--头部-->
<div class="div1" style="width: 100%;overflow: auto;">
    <div class="container">
        <div class="row clearfix">
            <div class="column">
                <nav>
                    <div class="col-md-4 edge">
                        <img src="../img/logoTitle.png" alt="logo">
                    </div>
                    <div class="col-md-8 edge" >
                        <ul class="nav nav-pills nav-my" id="ul_header">
                            <li>
                                <a href="index.html"><span>首页</span></a>
                            </li>
                            <li>
                                <a href="company.html"><span>公司概况</span></a>
                            </li>
                            <li>
                                <a href="introduction.html"><span>事业内容</span></a>
                            </li>
                            <li>
                                <a href="development.html"><span>开发体制</span></a>
                            </li>
                            <li>
                                <a href="culture.html"><span>企业文化</span></a>
                            </li>
                            <li>
                                <a href="contacts.html"><span>联系我们</span></a>
                            </li>
                            <li>
                                <a href="#"><span>中文 | 日文</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--图片-->
<div class="div2" style="width: 100%;overflow: auto;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="column">
                <img src="../img/common.png" alt="background" width="100%" height="auto">
            </div>
        </div>
    </div>
</div>

<!--中间内容部分-->
<div class="main-asb">
    <div>
        <a href="index.html">首页</a>
        <svg x="1612677966234" class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="17" height="17" style="vertical-align: sub">
            <path d="M870.334 514.725l-713.943 419.15 205.529-424.557-208.254-419.193z" fill="#30afa3"></path>
        </svg>
        <a href="advise.html">意见建议</a>
    </div>
    <div>
        <div class="site-z">
            <span class="site-z-1">意见建议</span>
        </div>
        <div>
            <div style="width: 80%; margin-left: 10%" >
                <br>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="company" class="col-sm-2 control-label">公司名称：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="company" placeholder="The company name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label star">姓名：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required="required" id="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label star">邮箱：</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" required="required" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="advise" class="col-sm-2 control-label star">意见或建议：</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="advise" required="required" rows="5" placeholder="Comments or Suggestions"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="verification" class="col-sm-2 control-label star">验证码：</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required="required" id="verification" style="float: left;width: 8%">
                            <div class="code">
                                <div class="number-div">
                                    <span id="number" onclick="numRandom()">1459</span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info btn-add">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--尾部-->
<div class="w-1">
    <div>
        <a href="contacts.html">联系我们 | </a>
        <a href="webMap.html">网站地图 | </a>
        <a href="protect.html">个人信息保护 </a>
    </div>
    <hr class="w-1-1">
    <p>Copyright © Xi’an Ming De Software Co.,Ltd. 2008-2018 All Rights reserved   <a href="#">陕ICP备09000289号</a></p>
</div>
<!--一键置顶-->
<div class="t-top" style="float: right;position: fixed;right: 4%;bottom: 4%">
    <a onclick="p_top()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16" style="width: 35px;height: 35px">
            <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
        </svg>
    </a>
</div>
<script src="../js/main.js" type="text/javascript"></script>
</body>
</html>