<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>西安明徳軟件有限公司 -- www.emdes.com.cn</title>
    <link rel="icon" href="../img/logo.ico" type="images/x-ico"/>
    <!-- 最新的 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- jQuery Cookie 插件 -->
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/company.css" rel="stylesheet">
    <!--页面滚动效果-->
    <script src="../js/flowup.js"></script>
    <!--引入font-awesome图标库-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<!--头部-->
<div class="div1" style="width: 100%;overflow: auto;">
    <div class="container" style="width: 1284px">
        <div class="row clearfix">
            <div class="column">
                <nav>
                    <div class="col-md-4 edge" style="width: 339px">
                        <a href="index.html">
                            <img src="../img/logoTitle.png" alt="logo">
                        </a>
                    </div>
                    <div class="col-md-8 edge">
                        <ul class="nav nav-pills nav-my nav-my-a" id="ul_header">
                            <li class="he-a-1">
                                <a href="index.html" class="lang" id="sy" style="font-size: 18px;color: black"><span>首页</span></a>
                            </li>
                            <li class="he-a-1">
                                <a href="company.html" class="lang" id="gs" style="font-size: 18px;color: black"><span>公司概况</span></a>
                            </li>
                            <li class="he-a-1">
                                <a href="introduction.html" class="lang" id="shiy" style="font-size: 18px;color: black"><span>事业内容</span></a>
                            </li>
                            <li class="he-a-1">
                                <a href="development.html" class="lang" id="kf" style="font-size: 18px;color: black"><span>开发体制</span></a>
                            </li>
                            <li class="he-a-1">
                                <a href="culture.html" class="lang" id="qy" style="font-size: 18px;color: black"><span>企业文化</span></a>
                            </li>
                            <li class="he-a-1">
                                <a href="contacts.html" class="lang" id="lx" style="font-size: 18px;color: black"><span>联系我们</span></a>
                            </li>
                            <li class="he-a-1">
                                <a id="l-contacts" style="cursor: pointer"><span>中 | 日</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--图片-->
<div class="div2" style="width: 100%;overflow: auto;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="column">
                <img src="../img/common.png" alt="background" width="100%" height="auto">
            </div>
        </div>
    </div>
</div>

<!--中间内容部分-->
<div class="main-asb">
    <div>
        <a href="index.html" class="lang" id="webm_2">首页</a>
        <svg x="1612677966234" class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="17" height="17" style="vertical-align: sub">
            <path d="M870.334 514.725l-713.943 419.15 205.529-424.557-208.254-419.193z" fill="#30afa3"></path>
        </svg>
        <a href="company.html" class="lang" id="webm_5">公司概况</a>
        <svg x="1612677966234" class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="17" height="17" style="vertical-align: sub">
            <path d="M870.334 514.725l-713.943 419.15 205.529-424.557-208.254-419.193z" fill="#30afa3"></path>
        </svg>
        <a href="memorabilia.html" class="lang" id="webm_7">公司大事记</a>
    </div>
    <div>
        <div class="site-z">
            <span class="site-z-1 lang" id="menorabilia_1">公司大事记</span>
        </div>
        <div>
            <div>
                <br>
                <ul class="com-p-s">
                    <!--动态的添加公司最新新闻-->
                    <li class="lss">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16" style="vertical-align: sub">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" class="a1"/>
                        </svg>
                        <a class="n1 lang" id="xwzx_a1" href="version.html">★西安明德软件有限公司的主页改版</a>
                        <a class="n2">2021-02-04</a>
                    </li>
                    <li class="lss">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16" style="vertical-align: sub">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" class="a1"/>
                        </svg>
                        <a class="n1 lang" id="xwzx_a2" href="interview.html">★日本岐阜电视台采访株式会社EMD</a>
                        <a class="n2">2021-02-04</a>
                    </li>
                    <li class="lss">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16" style="vertical-align: sub">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" class="a1"/>
                        </svg>
                        <a class="n1 lang" id="xwzx_a3" href="build.html">★西安明德软件有限公司成立</a>
                        <a class="n2">2021-02-04</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div style="text-align: center">
            <br>
            <span style="font-size: 14px">当前页1/1</span>
            <a href="memorabilia.html">首页</a>
            <a href="memorabilia.html">上一页</a>
            <a href="memorabilia.html">下一页</a>
            <a href="memorabilia.html">最后页</a>
            <label>
                <select>
                    <option selected="selected" value="1">第1页</option>
                </select>
            </label>
        </div>

    </div>
</div>

<!--尾部-->
<div class="w-1">
    <div>
        <a href="contacts.html" class="lang" id="lxwm_1">联系我们 |</a>
        <a href="webMap.html" class="lang" id="wzdt">网站地图 |</a>
        <a href="protect.html" class="lang" id="gr">个人信息保护 </a>
    </div>
    <hr class="w-1-1">
    <div>
        <p>Copyright © Xi’an Ming De Software Co.,Ltd. 2008-2018 All Rights reserved   <a href="#">陕ICP备09000289号</a></p>
    </div>
</div>
<!--一键置顶-->
<div class="t-top" style="float: right;position: fixed;right: 4%;bottom: 4%">
    <a onclick="p_top()" style="cursor: pointer">
        <svg t="1614757502310" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1149" width="50" height="50">
            <path d="M512 204.8l-273.066667 170.666667 273.066667 170.666666 273.066667-170.666666z" fill="#17abe3" p-id="1150"></path>
            <path d="M251.426133 491.6224l-24.9856 40.7552 285.184 174.660267 285.354667-164.078934-23.825067-41.437866-260.778666 149.947733z" fill="#17abe3" p-id="1151"></path>
            <path d="M251.426133 652.049067l-24.9856 40.7552 285.184 174.660266 285.354667-164.078933-23.825067-41.437867-260.778666 149.947734z" fill="#17abe3" p-id="1152"></path>
        </svg>
    </a>
</div>
<script src="../js/main.js" type="text/javascript"></script>
<!--网页中日文的转换-->
<script src="../js/language.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($.cookie('switch') == null) {
            $.cookie('switch', 0);
            const trigger_val = $.cookie('switch');
            console.log(trigger_val);
        } else {
            if ($.cookie('switch') === '1') {
                if ($(".newsCon img").attr("src") === "../img/lefttitle.png") {
                    $("#img_con").attr("src", "../img/lefttitle2.png");
                } else {
                    $("#img_con").attr("src", "../img/lefttitle.png");
                }
                fds();
            }
        }
    });
    $("#l-contacts").click(function(){
        if ($(".newsCon img").attr("src") === "../img/lefttitle.png") {
            $("#img_con").attr("src", "../img/lefttitle2.png");
        } else {
            $("#img_con").attr("src", "../img/lefttitle.png");
        }
        fds();
        const trigger_value = $.cookie('switch');
        console.log(trigger_value + " init")
        if (trigger_value === '0') {
            $.cookie('switch', 1);
            const trigger_value_jan = $.cookie('switch');
            console.log(trigger_value_jan + " end");
        } else {
            $.cookie('switch', 0);
            const trigger_value_jan = $.cookie('switch');
            console.log(trigger_value_jan + " end");
        }
    });
</script>
</body>
</html>