<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>西安明徳軟件有限公司 -- www.emdes.com.cn</title>
    <!-- 最新的 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/company.css" rel="stylesheet">
    <!--页面滚动效果-->
    <script src="../js/flowup.js"></script>
</head>
<body>
<!--头部-->
<div class="div1" style="width: 100%;overflow: auto;">
    <div class="container">
        <div class="row clearfix">
            <div class="column">
                <nav>
                    <div class="col-md-4 edge">
                        <img src="../img/logoTitle.png" alt="logo">
                    </div>
                    <div class="col-md-8 edge" >
                        <ul class="nav nav-pills nav-my" id="ul_header">
                            <li>
                                <a href="index.html"><span>首页</span></a>
                            </li>
                            <li>
                                <a href="company.html"><span>公司概况</span></a>
                            </li>
                            <li>
                                <a href="introduction.html"><span>事业内容</span></a>
                            </li>
                            <li>
                                <a href="development.html"><span>开发体制</span></a>
                            </li>
                            <li>
                                <a href="culture.html"><span>企业文化</span></a>
                            </li>
                            <li>
                                <a href="contacts.html"><span>联系我们</span></a>
                            </li>
                            <li>
                                <a id="l-contacts" style="cursor: pointer"><span>中 | 日</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!--图片-->
<div class="div2" style="width: 100%;overflow: auto;">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="column">
                <img src="../img/common.png" alt="background" width="100%" height="auto">
            </div>
        </div>
    </div>
</div>

<!--中间内容部分-->
<div class="main-asb">
    <div>
        <a href="index.html">首页</a>
        <svg x="1612677966234" class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="17" height="17" style="vertical-align: sub">
            <path d="M870.334 514.725l-713.943 419.15 205.529-424.557-208.254-419.193z" fill="#30afa3"></path>
        </svg>
        <a href="company.html">公司概况</a>
        <svg x="1612677966234" class="icon" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="17" height="17" style="vertical-align: sub">
            <path d="M870.334 514.725l-713.943 419.15 205.529-424.557-208.254-419.193z" fill="#30afa3"></path>
        </svg>
        <a href="memorabilia.html">公司大事记</a>
    </div>
    <div>
        <div class="site-z">
            <span class="site-z-1">公司大事记</span>
        </div>
        <div>
            <div>
                <br>
                <ul class="com-p-s">
                    <!--动态的添加公司最新新闻-->
                    <li class="lss">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16" style="vertical-align: sub">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" class="a1"/>
                        </svg>
                        <a class="n1" href="version.html">★西安明德软件有限公司的主页改版</a>
                        <a class="n2">2021-02-04</a>
                    </li>
                    <li class="lss">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16" style="vertical-align: sub">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" class="a1"/>
                        </svg>
                        <a class="n1" href="interview.html">★日本岐阜电视台采访株式会社EMD</a>
                        <a class="n2">2021-02-04</a>
                    </li>
                    <li class="lss">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16" style="vertical-align: sub">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" class="a1"/>
                        </svg>
                        <a class="n1" href="build.html">★西安明德软件有限公司成立</a>
                        <a class="n2">2021-02-04</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div style="margin-left: 70%;">
            <br>
            <span style="font-size: 14px">当前页1/1</span>
            <a href="memorabilia.html">首页</a>
            <a href="memorabilia.html">上一页</a>
            <a href="memorabilia.html">下一页</a>
            <a href="memorabilia.html">最后页</a>
            <label>
                <select>
                    <option selected="selected" value="1">第1页</option>
                </select>
            </label>
        </div>

    </div>
</div>

<!--尾部-->
<div class="w-1">
    <div>
        <a href="contacts.html">联系我们 | </a>
        <a href="webMap.html">网站地图 | </a>
        <a href="protect.html">个人信息保护 </a>
    </div>
    <hr class="w-1-1">
    <p>Copyright © Xi’an Ming De Software Co.,Ltd. 2008-2018 All Rights reserved   <a href="#">陕ICP备09000289号</a></p>
</div>
<!--一键置顶-->
<div class="t-top" style="float: right;position: fixed;right: 4%;bottom: 4%">
    <a onclick="p_top()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16" style="width: 35px;height: 35px">
            <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
        </svg>
    </a>
</div>
<script src="../js/main.js" type="text/javascript"></script>
</body>
</html>